body {
    background-color: rgb(216, 220, 231);
}
.new-task{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.save-task{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: rgb(142, 154, 167);
    border: none;
    border-radius: 10px;
}
.InputTitle, .InputDescription {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: rgb(232, 239, 255);
    border-radius: 5px;
}
.task{

    text-align: center;
    background-color: rgb(206, 206, 209);
    width: 200px;
    height: 60px;
    margin-left: 20px;
    float:right;
    border-radius: 10px;
}
.decsription
{
    text-align: center;
    background-color: rgb(232, 239, 255);
    width: 200px;
    height: 30px;
    float: left;
    border-radius: 10px;
}

.decsription:hover{
    background-color: rgb(157, 194, 243);
}


.header1, .header2{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 50pxe ;
}



.float-child {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 100px;
    float:left;
    border: none;
}  
